<div (click)="onCardClick()" class="main-container" [class.pointer]="info().description">
    <img src={{info().companyIcon}} alt={{ info().company }}>
    <p class="title">
        <b>{{info().title}}</b>
        <br>
        {{ info().company }}
    </p>
    <p class="time">
        {{ info().startYear }} – {{ info().endYear }}
    </p>
    
</div>
@if (descriptionCollapse() && info().description) {
    <div class="description-container">
        <p> Main Responsibilities </p>
        <ul>
            @for (item of info().description; track $index) {
                <li> {{ item }} </li>
            }
        </ul>
    </div>
}

