<section id="techstack" class="container">
    <h2> Tech Stack </h2>
    <div class="row icon-row">
     @for (icon of techIcons; track $index) {
             <mat-icon class="icon" [svgIcon]="'custom:' + icon"></mat-icon>
     }
    </div>
    <div class="row tech-row">
        @for (group of groupsIterable; track $index) {
                <div class="group">
                    <h3>{{ groupTitles[group[0]] }}</h3>
                    <ul>
                        @for (item of group[1]; track $index) {
                                <li>{{ item }}</li>
                        }
                    </ul>
                </div>
        }
    </div>
 </section>