<section id="techstack" class="container">
    <h2> Tech Stack </h2>
    <div class="row icon-row">
        @for (icon of techIcons; track $index) {
            <mat-icon class="icon" [svgIcon]="'custom:' + icon"></mat-icon>
        }
    </div>
    <div class="row tech-row">
        @for (group of groupsIterable; track $index) {
            <div class="group">
                <h3>{{ group[1].title }}</h3>
                <ul>
                    @for (item of group[1].items; track $index) {
                        <li>{{ item }}</li>
                    }
                </ul>
            </div>
        }
    </div>
 </section>