@use '../../../styles/variables.scss' as *;


.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    height: $nav-height;

    padding-right: 0%;
  
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: end;
    background: white;
    box-shadow: $box-shadow;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .menu-button {
    display: none;
  
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }

@media (max-width: 768px) {

    .menu-button {
      display: block;
    }
  
    .menu {
      position: absolute;
      top: 100%;
      right: 0;
  
      width: 220px;
  
      background: white;
      box-shadow: $box-shadow;
  
      padding: 1rem;
  
      display: none;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu.open {
      display: flex;
    }
  }