@use '../src/styles/variables.scss' as *;

body {
    margin: 0;
    font-family: sans-serif;
    font-size: $font-size;
    font-weight: lighter;
    padding-top: $nav-height;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
